.DS_Store
*~
.#*
*.swp
.bzr
.bzrignore
gems/specifications/*
gems/gems/*
gems/bin/*
recipients.yaml
.yardoc
#doc/*
pkg/*
!etc/flapjack/recipients.yaml
spec/test.db
features/support/tmp/*
features/support/etc/netsaint/*
_site/
