language: ruby
rvm:
  - "1.9.3"
gemfile:
  - Gemfile
services:
  - redis-server
before_script:
  - mkdir -p ./log
before_install:
  - git submodule update --init --recursive
script: bundle exec rspec spec && bundle exec cucumber features
