---
title: Flapjack, a scalable and distributed monitoring system
layout: default
---

<div id='logo'>
  <img alt='http://www.flickr.com/photos/ewedistrict/23110406/' src='/images/flapjack.png' />
</div>
<div id='what'>
  <p>
    <em>Flapjack</em>
    is a highly scalable and distributed monitoring notification system. It sits on top of existing
    monitoring engines like Nagios and Sensu, and does event processing &amp; notifications.
  </p>
  <p>
  Flapjack provides an API for configuration, <a
    href='https://github.com/flpjck/flapjack/wiki/GLOSSARY'>scheduling maintenance</a>,
  acknowledging failures, and querying entity history (conveniently wrapped in a <a
    href='https://github.com/flpjck/flapjack-diner'>client library</a>).
  </p>
  <p>
    Flapjack can notify via PagerDuty, XMPP, and email, and also supports receiving acknowledgements
    from PagerDuty + XMPP. Reference implementations for messaging via SMS gateways are also provided.
  </p>
</div>
<div id='developing'>
  <h2>Developing</h2>
  <p>
    Flapjack lives on <a href='http://github.com/flpjck/flapjack'>GitHub</a>. There is <a
      href="https://github.com/flpjck/flapjack/wiki/DEVELOPING">a guide</a> to get you hacking.
  </p>
</div>
<div id='who'>
  <h2>Who's reponsible?</h2>
  <p>
    <em>Flapjack</em> was conceptualised by&nbsp;<a href='http://holmwood.id.au/~lindsay/'>Lindsay
      Holmwood</a>. <a href='https://github.com/jessereynolds'>Jesse Reynolds</a> &amp; <a
      href='https://github.com/ali-graham'>Ali Graham</a> are the primary developers. Development
    is sponsored by <a href='http://bulletproof.net/'>Bulletproof Networks</a>.
  </p>
  <p>
    Logo derived from
    <em>
      <a href='http://www.flickr.com/photos/ewedistrict/23110406/'>Pancake</a>
    </em>
    by Brandon Martin-Anderson, and is
    <a href='http://creativecommons.org/licenses/by-sa/2.0/deed.en'>CC Attribution-Share Alike 2.0 Generic</a>
    licenced.
  </p>
</div>
<div id='friends'>
  <h2>Friends of Flapjack</h2>
  <ul>
    <li>
      <a href='http://collectd.org/'>collectd</a>, the lightweight statistics collection daemon.
    </li>
    <li>
      <a href='http://cucumber-nagios.org/'>cucumber-nagios</a>, helps you
      describe how a website should work in plain text, and outputs whether it does in
      the Nagios plugin format.
    </li>
  </ul>
</div>







<div id="nav-below" class="navigation">
  {% if paginator.next_page %}
    <div class="nav-next">
      <a href="{{ site.url }}/page{{ paginator.next_page }}#posts">
        Older posts
      </a>
    </div>
  {% endif %}
  {% if paginator.previous_page %}
    <div class="nav-previous">
      {% if paginator.page == 2 %}
        <a href="{{ site.url }}#posts">
      {% else %}
        <a href="{{ site.url }}/page{{ paginator.previous_page }}#posts">
      {% endif %}
        Newer posts
      </a>
    </div>
  {% endif %}
</div>
