[logger]
  file = "/var/log/flapjack/flapjack.log"
  level = "INFO"
  syslog_errors = true
[redis]
  host = "127.0.0.1"
  port = 6380
  db = 0
# Processes monitoring events off the *events* queue (a redis list) and decides
# what actions to take (generate notification event, record state changes, etc)
[processor]
  enabled = true
  queue = "events"
  notifier_queue = "notifications"
  archive_events = true
  events_archive_maxage = 10800
  # Flapjack sets scheduled maintenance on new check results so contacts aren't
  # notified as soon as Flapjack becomes aware of an entity to notify on.
  # This is useful is cases where your monitoring starts checking something
  # before it is completely provisioned
  # Value parsed by https://github.com/hpoydar/chronic_duration
  # You can disable this setting by specifying "0 seconds".
  new_check_scheduled_maintenance_duration = "100 years"
  new_check_scheduled_maintenance_ignore_regex = "bypass_ncsm$"
  [processor.logger]
    file = "/var/log/flapjack/flapjack.log"
    level = "INFO"
    syslog_errors = true
# Processes notification events off the *notifications* queue (a redis list) and
# works out who to notify, and on which media, and with what kind of notification
# message. It then creates jobs for the various notification gateways below.
[notifier]
  enabled = true
  queue = "notifications"
  email_queue = "email_notifications"
  sms_queue = "sms_notifications"
  sms_nexmo_queue = "sms_nexmo_notifications"
  slack_queue = "slack_notifications"
  sms_twilio_queue = "sms_twilio_notifications"
  sms_aspsms_queue = "sms_aspsms_notifications"
  sns_queue = "sns_notifications"
  jabber_queue = "jabber_notifications"
  pagerduty_queue = "pagerduty_notifications"
  threema_queue = "threema_notifications"
  notification_log_file = "/var/log/flapjack/notification.log"
  default_contact_timezone = "UTC"
  [notifier.logger]
    file = "/var/log/flapjack/flapjack.log"
    level = "INFO"
    syslog_errors = true
[nagios-receiver]
  fifo = "/var/cache/nagios3/event_stream.fifo"
[nsca-receiver]
  fifo = "/var/lib/nagios3/rw/nagios.cmd"
[gateways]
  # Generates email notifications
  [gateways.email]
    enabled = false
    # the redis queue this pikelet will look for notifications on
    queue = "email_notifications"
    [gateways.email.logger]
      level = "INFO"
      syslog_errors = true
    # these values are passed directly through to EventMachine::Protocols::SmtpClient configuration,
    # and can be omitted if the defaults are acceptable
    [gateways.email.smtp_config]
      # from = "Flapjack Example <flapjack@noreply.example>"
      # reply_to = "flapjack@support.example"
      host = "127.0.0.1"
      # 1025 is the default port for http://mailcatcher.me
      port = 1025
      starttls = false
      #[gateways.email.smtp_config.auth]
      #  type =
      #  username =
      #  password =
    # location of custom alert templates
    #[gateways.email.templates]
    #  rollup_subject_text = "/etc/flapjack/templates/email/rollup_subject.text.erb"
    #  alert_subject_text = "/etc/flapjack/templates/email/alert_subject.text.erb"
    #  rollup_text = "/etc/flapjack/templates/email/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/email/alert.text.erb"
    #  rollup_html = "/etc/flapjack/templates/email/rollup.html.erb"
    #  alert_html = "/etc/flapjack/templates/email/alert.html.erb"
  # Sends SMS notifications via MessageNet (Australia only)
  [gateways.sms]
    enabled = false
    # the redis queue this pikelet will look for notifications on
    queue = "sms_notifications"
    endpoint = "https://www.messagenet.com.au/dotnet/Lodge.asmx/LodgeSMSMessage"
    username = "ermahgerd"
    password = "xxxx"
    [gateways.sms.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #templates:
    #  rollup_text = "/etc/flapjack/templates/sms/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/sms/alert.text.erb"
  # Sends notifications via Slack
  [gateways.slack]
    enabled = false
    queue = "slack_notifications"
    account_sid = "webhookbot"
    endpoint = "https://hooks.slack.com/services/xxx/yyy/"
    auth_token = "zzzzz"
    from = ""
    [gateways.slack.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    ## location of custom alert templates
    #templates:
    #  rollup_text = "/etc/flapjack/templates/slack/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/slack/alert.text.erb"
  # Sends SMS notifications via Nexmo
  [gateways.sms_nexmo]
    enabled = false
    queue = "sms_nexmo_notifications"
    from = "zzzzzz"
    api_key = "APIKEY"
    secret = "s3cr3t"
    [gateways.sms_nexmo.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    ## location of custom alert templates
    #templates:
    #  rollup_text = "/etc/flapjack/templates/sms_nexmo/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/sms_nexmo/alert.text.erb"
  # Sends SMS notifications via Twilio
  [gateways.sms_twilio]
    enabled = false
    queue = "sms_twilio_notifications"
    account_sid = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    auth_token = "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"
    from = "+1xxxxxxxxxx"
    [gateways.sms_twilio.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #[gateways.sms_twilio.templates]
    #  rollup_text = "/etc/flapjack/templates/sms_twilio/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/sms_twilio/alert.text.erb"
  # Sends SMS notifications via ASPSMS ( https://www.aspsms.com/ )
  [gateways.sms_aspsms]
    enabled = false
    # the redis queue this pikelet will look for notifications on
    queue = "sms_aspsms_notifications"
    endpoint_host = "webservice.aspsms.com"
    endpoint_path = "/aspsmsx.asmx/SimpleTextSMS"
    originator = "Flapjack"
    username = "xxxx"
    password = "xxxx"
    [gateways.sms_aspsms.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #templates:
    #  rollup_text = "/etc/flapjack/templates/sms_aspsms/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/sms_aspsms/alert.text.erb"
  # Generates SNS notifications
  [gateways.sns]
    enabled = false
    queue = "sns_notifications"
    #region_name = "us-east-1"
    # Don't forget to use an IAM user's credentials here so revocation is easy!
    access_key = "AKIAIOSFODNN7EXAMPLE"
    secret_key = "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
  # Connects to an XMPP (jabber) server, sends notifications (to rooms and individuals),
  # handles acknowledgements from jabber users and other commands.
  [gateways.jabber]
    enabled = false
    # Announce my arrival in the Multi-User Chat room
    chatbot_announce = true
    # the redis queue this pikelet will look for notifications on
    queue = "jabber_notifications"
    server = "jabber.example.com"
    port = 5222
    jabberid = "flapjack@jabber.example.com"
    password = "good-password"
    alias = "flapjack"
    # List of strings that this pikelet user will respond to
    identifiers = ["@flapjack"]
    # the Multi-User Chats the pikelet should join and announce to
    rooms = [
      "gimp@conference.jabber.example.com",
      "log@conference.jabber.example.com"
    ]
    [gateways.jabber.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #[gateways.jabber.templates]
    #  rollup_text = "/etc/flapjack/templates/jabber/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/jabber/alert.text.erb"
  # Sends notifications to and accepts acknowledgements from [PagerDuty](http://www.pagerduty.com/)
  # (NB = "contacts will need to have a registered PagerDuty account to use this)"
  [gateways.pagerduty]
    enabled = false
    # the redis queue this pikelet will look for notifications on
    queue = "pagerduty_notifications"
    [gateways.pagerduty.credentials]
      service_key = "1234567890"
      subdomain = "thecompany"
      username = "user"
      password = "pass"
    [gateways.pagerduty.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #[gateways.pagerduty.templates]
    #  alert_text = "/etc/flapjack/templates/pagerduty/alert.text.erb"
  # Sends SMS notifications via Threma Gateway ( https://gateway.threema.ch )
  [gateways.threema]
    enabled = false
    # the redis queue this pikelet will look for notifications on
    queue = "threema_notifications"
    endpoint_host = "msgapi.threema.ch"
    endpoint_path = "/send_simple"
    from = "xxxx"
    secret = "xxxx"
    [gateways.threema.logger]
      level = "INFO"
      syslog_errors = true
    # location of custom alert templates
    #templates:
    #  rollup_text = "/etc/flapjack/templates/threema/rollup.text.erb"
    #  alert_text = "/etc/flapjack/templates/threema/alert.text.erb"
  # Browsable web interface
  [gateways.web]
    enabled = true
    bind_address = "0.0.0.0"
    port = 3080
    timeout = 300
    # Seconds between auto_refresh of entities/checks pages.  Set to 0 to disable
    auto_refresh = 120
    access_log = "/var/log/flapjack/web_access.log"
    api_url = "http://127.0.0.1:3081/"
    # Full path to location of logo file, e.g. /etc/flapjack/custom_logo.png
    #logo_image_path = "/etc/flapjack/web/custom_logo/flapjack-2013-notext-transparent-300-300.png"
    show_exceptions = false
    [gateways.web.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
  # HTTP API server
  [gateways.jsonapi]
    enabled = true
    bind_address = "0.0.0.0"
    port = 3081
    timeout = 300
    access_log = "/var/log/flapjack/jsonapi_access.log"
    base_url = "http://127.0.0.1:3081/"
    [gateways.jsonapi.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
  # "out-of-band" end-to-end testing, used for monitoring other instances of
  # flapjack to ensure that they are running correctly
  [gateways.oobetet]
    enabled = false
    server = "jabber.example.com"
    port = 5222
    # jabberid, password, alias, rooms = "see the jabber pikelet"
    jabberid = "flapjacktest@jabber.example.com"
    password = "nuther-good-password"
    alias = "flapjacktest"
    # The check oobetet should watch for the state change
    watched_check = "PING"
    # The entitiy that the check should be associated with
    watched_entity = "foo.example.com"
    # The maximum amount of time allowed to pass between state changes on that check
    max_latency = 300
    # The API key for a service in PagerDuty that the oobetet will use to alert you
    pagerduty_contact = "11111111111111111111111111111111"
    # Jabber rooms to join
    rooms = [
      "flapjacktest@conference.jabber.example.com",
      "gimp@conference.jabber.example.com",
      "log@conference.jabber.example.com"
    ]
    [gateways.oobetet.logger]
      file = "/var/log/flapjack/flapjack.log"
      level = "INFO"
      syslog_errors = true
