---

production:
  pid_file: /var/run/flapjack/flapjack.pid
  log_file: /var/log/flapjack/flapjack.log
  daemonize: yes
  redis:
    host: 127.0.0.1
    port: 6379
    db: 0
  processor:
    enabled: yes
    queue: events
    notifier_queue: notifications
    archive_events: true
    events_archive_maxage: 10800
    new_check_scheduled_maintenance_duration: 100 years
    logger:
      level: INFO
      syslog_errors: yes
  notifier:
    enabled: yes
    queue: notifications
    email_queue: email_notifications
    sms_queue: sms_notifications
    jabber_queue: jabber_notifications
    pagerduty_queue: pagerduty_notifications
    notification_log_file: /var/log/flapjack/notification.log
    default_contact_timezone: UTC
    logger:
      level: INFO
      syslog_errors: yes
  nagios-receiver:
    fifo: "/var/cache/nagios3/event_stream.fifo"
    pid_file: "/var/run/flapjack/flapjack-nagios-receiver.pid"
    log_file: "/var/log/flapjack/flapjack-nagios-receiver.log"
  gateways:
    email:
      enabled: no
      queue: email_notifications
      logger:
        level: INFO
        syslog_errors: yes
      smtp_config:
        # port 1025 is the default port for http://mailcatcher.me
        host: 127.0.0.1
        port: 1025
        starttls: false
        #auth:
        #  type:
        #  username:
        #  password:
    sms:
      enabled: no
      queue: sms_notifications
      endpoint: 'https://www.messagenet.com.au/dotnet/Lodge.asmx/LodgeSMSMessage'
      username: "ermahgerd"
      password: "xxxx"
      logger:
        level: INFO
        syslog_errors: yes
    jabber:
      enabled: no
      queue: jabber_notifications
      server: "jabber.example.com"
      port: 5222
      jabberid: "flapjack@jabber.example.com"
      password: "good-password"
      alias: "flapjack"
      rooms:
        - "gimp@conference.jabber.example.com"
        - "log@conference.jabber.example.com"
      logger:
        level: INFO
        syslog_errors: yes
    pagerduty:
      enabled: no
      queue: pagerduty_notifications
      logger:
        level: INFO
        syslog_errors: yes
    web:
      enabled: yes
      port: 3080
      timeout: 300
      access_log: "/var/log/flapjack/web_access.log"
      logger:
        level: INFO
        syslog_errors: yes
    api:
      enabled: yes
      port: 3081
      timeout: 300
      access_log: "/var/log/flapjack/api_access.log"
      logger:
        level: INFO
        syslog_errors: yes
    oobetet:
      enabled: no
      server: "jabber.example.com"
      port: 5222
      jabberid: "flapjacktest@jabber.example.com"
      password: "nuther-good-password"
      alias: "flapjacktest"
      watched_check: "PING"
      watched_entity: "foo.example.com"
      max_latency: 300
      pagerduty_contact: "11111111111111111111111111111111"
      rooms:
        - "flapjacktest@conference.jabber.example.com"
        - "gimp@conference.jabber.example.com"
        - "log@conference.jabber.example.com"
      logger:
        level: INFO
        syslog_errors: yes

development:
  pid_file: tmp/pids/flapjack.pid
  log_file: log/flapjack.log
  daemonize: yes
  redis:
    host: 127.0.0.1
    port: 6379
    db: 13
  processor:
    enabled: yes
    queue: events
    notifier_queue: notifications
    archive_events: true
    events_archive_maxage: 10800
    new_check_scheduled_maintenance_duration: 100 years
    logger:
      level: DEBUG
      syslog_errors: yes
  notifier:
    enabled: yes
    queue: notifications
    email_queue: email_notifications
    sms_queue: sms_notifications
    jabber_queue: jabber_notifications
    pagerduty_queue: pagerduty_notifications
    notification_log_file: log/notification.log
    default_contact_timezone: UTC
    logger:
      level: DEBUG
      syslog_errors: yes
  nagios-receiver:
    fifo: "/usr/local/var/lib/nagios/event_stream.fifo"
    pid_file: "tmp/pids/flapjack-nagios-receiver.pid"
    log_file: "log/flapjack-nagios-receiver.log"
  gateways:
    email:
      enabled: yes
      queue: email_notifications
      logger:
        level: INFO
        syslog_errors: yes
      smtp_config:
        # port 1025 is the default port for http://mailcatcher.me
        host: 127.0.0.1
        port: 1025
        starttls: false
        #auth:
        #  type:
        #  username:
        #  password:
    sms:
      enabled: yes
      queue: sms_notifications
      # if you run up something like 200ok locally you can then view the
      # sms messages being emitted
      endpoint: 'http://localhost:9292/FakeMessagenetAPI.aspx'
      username: "ermahgerd"
      password: "xxxx"
      logger:
        level: INFO
        syslog_errors: yes
    jabber:
      enabled: no
      queue: jabber_notifications
      server: "jabber.example.com"
      port: 5222
      jabberid: "flapjack@jabber.example.com"
      password: "good-password"
      alias: "flapjack"
      rooms:
        - "gimp@conference.jabber.example.com"
        - "log@conference.jabber.example.com"
      logger:
        level: INFO
        syslog_errors: yes
    pagerduty:
      enabled: no
      queue: pagerduty_notifications
      logger:
        level: INFO
        syslog_errors: yes
    web:
      enabled: no
      port: 4080
      timeout: 300
      access_log: "log/web_access.log"
      logger:
        level: INFO
        syslog_errors: yes
    api:
      enabled: no
      port: 4081
      timeout: 300
      access_log: "log/api_access.log"
      logger:
        level: INFO
        syslog_errors: yes
    oobetet:
      enabled: no
      server: "jabber.example.com"
      port: 5222
      jabberid: "flapjacktest@jabber.example.com"
      password: "nuther-good-password"
      alias: "flapjacktest"
      watched_check: "PING"
      watched_entity: "foo.example.com"
      max_latency: 300
      pagerduty_contact: "11111111111111111111111111111111"
      rooms:
        - "flapjacktest@conference.jabber.example.com"
        - "gimp@conference.jabber.example.com"
        - "log@conference.jabber.example.com"
      logger:
        level: INFO
        syslog_errors: yes


test:
  redis:
    database: 14

staging:
  redis:
    database: 15

