---

quickstart:
  redis:
    host: 127.0.0.1
    port: 6379
    db: 6
  executive:
    enabled: yes
    email_queue: email_notifications
    notification_log_file: log/flapjack-notification.log
  gateways:
    email:
      enabled: yes
      queue: email_notifications
      smtp_config:
        address: "localhost"
        domain: 'localhost.localdomain'
        port: 25
    web:
      enabled: yes
      port: 5080

development:
  pid_file: tmp/pids/flapjack.pid
  log_file: log/flapjack.log
  daemonize: no
  redis:
    host: 127.0.0.1
    port: 6379
    db: 13
  executive:
    enabled: yes
    email_queue: email_notifications
    sms_queue: sms_notifications
    jabber_queue: jabber_notifications
    notification_log_file: log/flapjack-notification.log
  gateways:
    email:
      enabled: yes
      queue: email_notifications
      smtp_config:
        port: 2525
        # address: "localhost"
        # port: 25
        # domain: 'localhost.localdomain'
        # user_name: nil
        # password: nil
        # authentication: nil
        # enable_starttls_auto: true
    sms:
      enabled: yes
      queue: sms_notifications
      username: "ermahgerd"
      password: "xxxx"
    jabber:
      enabled: yes
      queue: jabber_notifications
      server: "jabber.domain.tld"
      port: 5222
      jabberid: "flapjack@jabber.domain.tld"
      password: "good-password"
      alias: "flapjack"
      rooms:
        - "gimp@conference.jabber.domain.tld"
        - "log@conference.jabber.domain.tld"
    oobetet:
      enabled: yes
      server: "jabber.domain.tld"
      port: 5222
      jabberid: "flapjacktest@jabber.domain.tld"
      password: "nuther-good-password"
      alias: "flapjacktest"
      watched_check: "PING"
      watched_entity: "foo.bar.net"
      max_latency: 300
      pagerduty_contact: "11111111111111111111111111111111"
      rooms:
        - "flapjacktest@conference.jabber.domain.tld"
        - "gimp@conference.jabber.domain.tld"
        - "log@conference.jabber.domain.tld"
    pagerduty:
      enabled: yes
      queue: pagerduty_notifications
    web:
      enabled: yes
      port: 5080
    api:
      enabled: yes
      port: 5081

test:
  redis:
    database: 14
  gateways:
    email:
      instances: 1
    sms:
      instances: 1
      username: "ermahgerd"
      password: "xxxx"
    web:
      instances: 1

staging:
  redis:
    database: 15
  gateways:
    email:
      instances: 1
    sms:
      instances: 1
      username: "ermahgerd"
      password: "xxxx"
    web:
      instances: 1

production:
  redis:
    database: 12
  gateways:
    email:
      instances: 1
    sms:
      instances: 1
      username: "ermahgerd"
      password: "xxxx"
    web:
      instances: 1

profile:
  redis:
    host: 127.0.0.1
    port: 6379
    db: 14
  executive:
    enabled: yes
    notification_log_file: log/flapjack-notification.log
  gateways:
    email:
      enabled: no
      queue: email_notifications
    jabber:
      enabled: yes
      queue: jabber_notifications
      server: "jabber.domain.tld"
      port: 5222
      jabberid: "flapjack@jabber.domain.tld"
      password: "good-password"
      alias: "flapjack"
      rooms:
        - "gimp@conference.jabber.domain.tld"
        - "log@conference.jabber.domain.tld"
    web:
      enabled: no
      port: 5080