div.jumbotron.intro {
  text-align: center;
  background-color: white;
}

img.jumbo.logo {
  width: 300px;
}

div.row.intro h3 {
  text-align: center;
}

.callout {
  margin: 40px 0;
  padding: 20px;
  background-color: gray;
  border-color: #eed3d7;
  color: white;
  font-size: 24px;
  text-align: center;
}

.callout p:last-child {
  margin-bottom: 0;
}

nav.navbar-inverse {
  border-radius: 0px;
}


@media print, screen and (max-width: 384px) {
  div.jumbotron.intro {
    margin-bottom: 0px;
  }

  img.jumbo.logo {
    width: 150px;
  }
}
