/* sticky footer per http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 140px;
}
/* end sticky footer */

div.jumbotron.intro {
  text-align: center;
  background-color: white;
}

img.jumbo.logo {
  width: 300px;
}

div.row.intro h3 {
  text-align: center;
}

.callout {
  margin: 40px 0;
  padding: 20px;
  background-color: gray;
  border-color: #eed3d7;
  color: white;
  font-size: 24px;
  text-align: center;
}

.callout p:last-child {
  margin-bottom: 0;
}

nav.navbar-inverse {
  border-radius: 0px;
}

nav.navbar .navbar-brand {
  padding: 7px;
}

nav.navbar .navbar-header img.logo {
  height: 28px;
  display: block;
  float: left;
  margin-left: 8px;
}

nav.navbar .navbar-header span.name {
  padding-top: 8px;
  display: block;
  float: left;
  margin-left: 8px;
}

.container.content {
  padding-bottom: 20px;
}

footer {
  margin-top: 20px;
  padding: 20px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%;
  background-color: #222;
  color: gray;
}

footer .row {
  margin: 0;
}

footer div.sponsor {
  text-align: center;
  background-color: #222;
}

footer img.bulletproof {
  width: 180px;
  display: block;
  margin: auto;
}

footer span.bulletproof.subtext {
  color: gray;
  font-size: 80%;
}

@media print, screen and (max-width: 1200px) {
  body {
    margin: 0 0 180px;
  }

  div.container.content img {
    max-width: 100%;
  }

  footer {
    height: 180px;
  }
}

@media print, screen and (max-width: 384px) {
  div.jumbotron.intro {
    margin-bottom: 0px;
  }

  img.jumbo.logo {
    width: 150px;
  }

  footer img.bulletproof {
    margin: 10px auto 0px;
  }

  footer span.bulletproof.subtext {
    margin-bottom: 10px;
  }
}


/* Side notes for calling out things
--------------------------------------------------
https://gist.github.com/matthiasg/6153853
*/

/* Base styles (regardless of theme) */
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
color: #C09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
color: #3C763D;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.bs-callout-success {
background-color: #dff0d8;
border-color: #d6e9c6;
}
