%div{:class => "container"}
  %p{:class => "muted credit"}
    = "Flapjack version #{@version} | "
    %a{:href => 'http://flapjack-project.com'}
      Flapjack Project
    = " | "
    %a{:href => 'https://github.com/flpjck/flapjack'}
      Flapjack on Github