<p>
<a title="" href="/">Summary</a> |
<a title="" href="/entities_all">All Entities</a> |
<a title="" href="/entities_failing">Failing Entities</a> |
<a title="" href="/checks_all">All Checks</a> |
<a title="" href="/checks_failing">Failing Checks</a> |
<a title="" href="/contacts">Contacts</a> |
<a title="" href="/self_stats">Internal Statistics</a>
</p>
