<nav class="navbar navbar-default navbar-inverse" role="navigation">

  <div class="navbar-header">
    <a class="navbar-brand" title="Summary" href="/">
      <img alt="Flapjack" class="logo" src="/img/flapjack-2013-notext-transparent-300-300.png">
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">
      <li><a title="Summary" href="/">Summary</a></li>
      <li><a title="All Entities" href="/entities_all">All Entities</a></li>
      <li><a title="Failing Entities" href="/entities_failing">Failing Entities</a></li>
      <li><a title="All Checks" href="/checks_all">All Checks</a></li>
      <li><a title="Failing Checks" href="/checks_failing">Failing Checks</a></li>
      <li><a title="Contacts" href="/contacts">Contacts</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a title="Internal Statistics" href="/self_stats">Internal Statistics</a></li>
    </ul>

  </div>
</nav>
