<div>
  <a title="Summary" href="/"><img alt="Flapjack" src="/img/flapjack-2013-notext-transparent-25-40.png" width="25" height="40"></a>
  <a title="Summary" href="/">Summary</a> |
  <a title="All Entities" href="/entities_all">All Entities</a> |
  <a title="Failing Entities" href="/entities_failing">Failing Entities</a> |
  <a title="All Checks" href="/checks_all">All Checks</a> |
  <a title="Failing Checks" href="/checks_failing">Failing Checks</a> |
  <a title="Contacts" href="/contacts">Contacts</a> |
  <a title="Internal Statistics" href="/self_stats">Internal Statistics</a>
</div>
