%p
  %a(title='' href='/') Summary
  |
  %a(title='' href='/entities_all') All Entities
  |
  %a(title='' href='/entities_failing') Failing Entities
  |
  %a(title='' href='/checks_all') All Checks
  |
  %a(title='' href='/checks_failing') Failing Checks
  |
  %a(title='' href='/contacts') Contacts
  |
  %a(title='' href='/self_stats') Internal Statistics
