<div class="page-header">
  <h2>Contacts</h2>
</div>

<% if !@contacts || @contacts.empty? %>
  <p>No contacts</p>
<% else %>
  <table class="table table-bordered table-hover table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <% @contacts.sort_by {|c| [c.last_name, c.first_name] }.each do |contact| %>
    <tr>
      <td><a href="/contacts/<%= contact.id %>" title="contact details"><%= h contact.name %></a></td>
      <td><%= h contact.email %></td>
    </tr>
    <% end %>
  </table>
<% end %>
