<%
  require_css 'select2'
  require_css 'select2-bootstrap'

  require_js 'underscore'
  require_js 'jquery-1.10.2'
  require_js 'backbone'
  require_js 'backbone.jsonapi'
  require_js 'bootstrap'
  require_js 'select2'
%>

<script type="text/template" id="contact-actions-template">
  <button class="btn btn-success" id="addContact">
    Add contact
  </button>
</script>

<script type="text/template" id="contact-list-item-template">
  <td><@- name @></td>
  <td class="actions">
    <button type="button" class="btn btn-default contact-media" style="visibility: hidden" aria-hidden="true">Media</button>
  </td>
  <td class="actions">
    <button type="button" class="btn btn-default contact-entities" style="visibility: hidden" aria-hidden="true">Entities</button>
  </td>
  <td class="actions">
    <button type="button" class="btn btn-danger delete-contact" style="visibility: hidden" aria-hidden="true">&minus;</button>
  </td>
</script>

<script type="text/template" id="contact-details-form-template">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="contactModalLabel"><@- is_new ? 'New' : 'Edit' @> Contact</h4>
  </div>
  <div class="modal-body">
    <form action="<%= @base_url %>contacts" method="post" role="form" class="form-horizontal">

      <div id="contactDetails">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="contact_name">Name</label>
          <div class="col-sm-9">
            <input type="text" autofocus="autofocus" name="contact_name" class="form-control" value="<@- name @>">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="contactAccept"<@- is_valid ? '' : ' disabled="disabled"' @>><@- is_new ? 'Create' : 'Update' @></button>
        <button type="button" class="btn btn-cancel" id="contactCancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
</script>

<script type="text/template" id="contact-media-template">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="contactModalLabel">Media for <@- name @></h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 15%">Media</th>
          <th style="width: 55%">Address</th>
          <th style="width: 10%">Interval</th>
          <th style="width: 10%">Rollup</th>
        </tr>
      </thead>
      <tbody id="contactMediaList">
      </tbody>
    </table>
  </div>
</div>
</script>

<script type="text/template" id="contact-media-list-item-template">
  <td>
    <@- labels[type] @>
  </td>
  <td>
    <input type="text" id="<@- labels[type] @>-address" data-attr="address" class="form-control" value="<@- address @>">
  </td>
  <td>
    <input type="text" id="<@- labels[type] @>-interval" data-attr="interval" class="form-control" value="<@- interval @>">
  </td>
  <td>
    <input type="text" id="<@- labels[type] @>-rollup_threshold" data-attr="rollup_threshold" class="form-control <@- labels[type] @>-rollup_threshold" value="<@- rollup_threshold @>">
  </td>
</script>

<script type="text/template" id="contact-entities-template">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="contactModalLabel">Entities for <@- name @></h4>
  </div>
  <div class="modal-body">
    <div id="contactEntityChooser">
    </div>

    <table class="table" style="margin-top: 1em; width: 100%">
      <thead>
        <tr>
          <th style="width: 90%">Entities</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody id="contactEntityList">
      </tbody>
    </table>
  </div>
</div><!-- /.modal-content -->
</script>

<script type="text/template" id="contact-entities-chooser-template">
<input type="hidden" id="entityChooser" style="width: 440px">
<button id="add-contact-entity" type="button" class="btn btn-default btn-xs">
  <i class="fa fa-plus-square"></i>
  &nbsp;
  Add Entities
</button>
</script>

<script type="text/template" id="contact-entities-list-item-template">
  <td><@- name @></td>
  <td><button type="button" class="close btn delete delete-entity" aria-hidden="true">&minus;</button></td>
</script>

<%
  require_js  'flapjack'

  require_js  'modules/contact'
  require_js  'modules/entity'
  require_js  'modules/medium'
%>

<div id="data-api-url" data-api-url="<%= @api_url %>">
  <div class="page-header">
    <h2>Edit Contacts</h2>
  </div>
  <div id="container">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody id="contactList">
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </div>
</div>
