<%
  require_css 'select2'

  require_js  'underscore'
  require_js  'jquery-1.10.2'
  require_js  'select2'
  require_js  'backbone'
  require_js  'backbone.jsonapi'
  require_js  'contacts'
%>

<script type="text/template" id="contact-actions-template">
  <button class="contact_add btn btn-success" type="button">Add</button>
</script>

<script type="text/template" id="contact-list-item-template">
  <div class="contact_list_item">
    <button class="contact_entities" type="button">Entities</button>
    <button class="contact_edit" type="button">Edit</button>
    <button class="contact_remove" type="button">Remove</button>
    <@- first_name @>&nbsp;<@- last_name @> (<@- email @>)
  </div>
  <div class="contact_entities_view" style="display: <@- entities_display @>">
  </div>
  <div class="contact_edit_view panel panel-default" style="display: <@- edit_display @>">
    <div class="panel-body">
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-2 control-label">First Name</label>
        <div class="col-md-8">
          <input class="contact_first_name form-control" type="text" value="<@- first_name @>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Rast Name</label>
        <div class="col-md-8">
          <input class="contact_last_name form-control" type="text" value="<@- last_name @>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-8">
          <input class="contact_email form-control" type="text" value="<@- email @>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <button class="contact_save btn btn-success" type="button">Save</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</script>

<div id="data-api-url" data-api-url="<%= @api_url %>">
    <div class="page-header">
      <h2>Edit Contacts</h2>
    </div>
    <div id="container">
    </div>
</div>
