<%
  require_css 'select2'

  require_js  'underscore'
  require_js  'jquery-1.10.2'
  require_js  'select2'
  require_js  'backbone'
  require_js  'backbone.jsonapi'
  require_js  'bootstrap.min'
  require_js  'contacts'
%>

<script type="text/template" id="contact-actions-template">
  <button class="contact_add btn btn-success" type="button">Add</button>
</script>

<script type="text/template" id="contact-list-item-template">
  <tr class="contact_list_item">
    <td><@- first_name @></td>
    <td><@- last_name @></td>
    <td><@- email @></td>
  </tr>

  <div class="contact_entities_view" style="display: <@- entities_display @>">
  </div>
  <div class="contact_edit_view panel panel-default" style="display: <@- edit_display @>">
    <div class="panel-body">
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="col-md-2 control-label">First Name</label>
        <div class="col-md-8">
          <input class="contact_first_name form-control" type="text" value="<@- first_name @>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Rast Name</label>
        <div class="col-md-8">
          <input class="contact_last_name form-control" type="text" value="<@- last_name @>">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-8">
          <input class="contact_email form-control" type="text" value="<@- email @>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <button class="contact_save btn btn-success" type="button">Save</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</script>

<div id="data-api-url" data-api-url="<%= @api_url %>">
    <div class="page-header">
      <h2>Edit Contacts</h2>
    </div>
    <div id="container">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="contactList">
        </tbody>
      </table>

<!-- Button trigger modal -->
<button class="btn btn-success" data-toggle="modal" data-target="#contactModal">
  Add contact
</button>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Contact</h4>
      </div>
      <div class="modal-body">

        <form action="/contacts" method="post" role="form" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="contact_first_name">First name</label>
            <div class="col-sm-9">
              <input type="text" name="contact_first_name" class="form-control" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="contact_last_name">Last name</label>
            <div class="col-sm-9">
              <input type="text" name="contact_last_name" class="form-control" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="contact_email">Email</label>
            <div class="col-sm-9">
              <input type="text" name="contact_email" class="form-control" value="">
            </div>
          </div>
        </form><!-- form-horizontal-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Create Contact</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    </div>
</div>
