<!DOCTYPE html>
<html lang="en">
  <head>
    <% nav  = render_erb('_nav.html.erb', binding) %>
    <% head = render_erb('_head.html.erb', binding) %>
    <% foot = render_erb('_foot.html.erb', binding) %>
    <title>Flapjack - Edit Contacts</title>
    <%= head %>

    <flapjack-api url="<%= @api_url %>"></flapjack-api>

    <script src="/js/underscore-min.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/backbone.localStorage-min.js"></script>
    <script src="/js/backbone.jsonapi.js"></script>
    <script src="/js/contacts.js"></script>

    <script type="text/template" id="contact-actions-template">
      <button class="contact_add" type="button">Add</button>
    </script>

    <script type="text/template" id="contact-list-item-template">
      <div class="contact_list_item"><@- first_name@>&nbsp;<@- last_name @> (<@- email @>) <button class="contact_remove" id="contact_<@- id @>_remove" type="button">Remove</button></div>
      <div class="contact" style="display: <@- display @>">
        <form>
          <fieldset>
            <ol>
              <li>
                <label class="contact_label">First Name</label>
                <input class="contact_first_name" type="text" id="contact_<@- id @>_first_name" value="<@- first_name @>">
              </li>
              <li>
                <label class="contact_label">Last Name</label>
                <input class="contact_last_name" type="text" id="contact_<@- id @>_last_name" value="<@- last_name @>">
              </li>
              <li>
                <label class="contact_label">Email</label>
                <input class="contact_email" type="text" id="contact_<@- id @>_email" value="<@- email @>">
              </li>
            </ol>
          </fieldset>
          <fieldset>
            <button class="contact_save" id="contact_<@- id @>_save" type="button">Save</button>
            <button class="contact_reset" id="contact_<@- id @>_reset" type="button">Reset</button>
        </form>
      </div>
    </script>

  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <%= nav %>
          <h2>Edit Contacts</h2>
        </div>

        <div id="container"></div>

      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <%= foot %>
    </div>
  </body>
</html>
