<% page_title 'Summary' %>

<div class="page-header">
  <h2>Summary</h2>
</div> <!-- page header -->

<h4><a href="<% @base_url %>checks?failing=1&amp;enabled=1" title="failing checks"><%= h @metrics[:check_counts][:failing] %></a> out of <a href="<% @base_url %>checks?enabled=1" title="enabled checks"><%= h @metrics[:check_counts][:enabled] %></a> checks are failing</h4>

