<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {% include externals.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://{{ site.url }}">Flapjack</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.url }}/quickstart">Quickstart</a></li>
          <li><a href="http://github.com/flpjck/flapjack/wiki">Documentation</a></li>
          <li><a href="{{ site.url }}/support">Support</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div> <!-- container -->

    <div id="footer" class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="http://bulletproof.net.au">
          <img class="bulletproof" src='/images/bulletproof-logo.png'/>
        </a>
        <span class="bulletproof subtext">
          Development sponsored by
          <a href="http://bulletproof.net.au">Bulletproof</a>.
        </span>
      </div>
    </div>

    {% include google-analytics.html %}
  </body>
</html>

